.header {
  border: 2px solid rgb(146, 145, 145);
  border-radius: 6px;
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: rgb(159, 114, 201);
}

.input {
  border: none;
  width: 360px;
}
::placeholder {
  font-style: italic;
  font-size: 17px;
  padding-left: 3px;
  text-align: start;
}

.btn {
  background: transparent;
  width: 70px;
  height: 55px;
  border: none;
  cursor: pointer;
  background-color: white;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.icon {
  width: 35px;
  height: 35px;
}
